/*

Copyright 2010 Nikolaos Barkas

This is part of Arrayline

Arrayline is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Arrayline is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.


*/

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	background-color: #fafafc;
}

a {
	color: #2222ff;
	text-decoration: none;
}



div.page {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}

div.page div.header {
	width: 100%;
	height: 135px;
	background-color: #aabbbb; 
	clear: both;
	float: left;
}

div.page div.header h2 {
	font-size: 3em;
	color: #333399;
	margin: 0;
	padding: 0;
	margin-top: 30px;
	margin-left: 40px;
	
}

div.page div.header p.moto {
	font-style: italic;
	margin-left: 40px;
}

div.page div.navigation {
	width: 200px;
	height: 400px;
	background-color: #ccdddd;
	border-right: 1px solid #244;
	clear: left;
	float: left;
}

div.page div.main {
	width: 700px;
	min-height: 800px;
	clear: right;
	float: left;
	padding: 20px 45px;
}

div.page div.footer {
	width: 100%;
	height: 100px;
	background-color: #aaaaaa;
	clear: both;
	float: left;
}
	
div.page div.footer div.footer-internal {
	height: auto;
	padding-top: 60px;
}

div.page div.footer p {
	font-size: 0.8em;
	display: block;
	float: right;
	clear: both;
	margin: 0;
	padding: 0;
	color: #333;
}

div.page div.footer a {
	color: #333;
}

